#reporticon {
    height: 50px;
    width: 50px;
    margin-bottom: 28px;
}

#title {
    display: inline;
    font-size: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.title {
    text-align: center;
}

.reportContainer {
    width: 70%;
    height: 600px;
}

#arrow {
    height: 40px;
    width: 60px;
}

#select-day{
    float: right;
    width: 30%;
    margin-right: 0;
}

.row1 {
    width: 100%;
    text-align: right;
}

.box {
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.box > p {
    margin-left: 10px;
    display: inline;
    font-size: 20px;
    font-family: 'Poppins';
}

.box > input {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: auto;

    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #000000;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.box > input:checked {
    background-color: white;
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
}

.col1 {
    padding-top: 70px;
    width: 200px;
}

#select-day > input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #555;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

#select-day > input::-webkit-calendar-picker-indicator {
    display: none;
}

#select-day > input::before {
    /* Add a custom icon */
    content: "\f073";
    font-family: FontAwesome;
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

#select-day > input:focus::before {
    /* Change the icon color on focus */
    color: #555;
  }
